// PRIMARY SHADES
$brand-primary: #2b468b;
$brand-primary-inverse: #f3fff9;
$brand-primary-light: #eff5fe;

// SECONDARY SHADES
$brand-secondary: #646464;
$brand-secondary-light: #d8d8d8;

// GRAY SHADES
$brand-gray: #e0e0e0;
$brand-gray-dark: #455a64;
$brand-gray-light: #f4f4f4;
$brand-gray-dark: #646464;

// TONIC SHADES
$brand-tonic: #c5292a;
$brand-tonic-inverse: #a36957;
$brand-tonic-light: #ffe1da;
$brand-tonic-lighter: #ffefef;

// GREEN SHADES
$brand-success: #27ae60;
$brand-success-dark: #009800;
$brand-success-darker: #018849;
$brand-success-light: #cceacc;

// WHITE SHADES
$brand-white: #ffffff;

// TEXT COLORS
$color-text: #0c0f0a;
$color-white: $brand-white;
