* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  white-space: normal;
  transition: all 0.2s ease-in-out;
  font-family: 'Open Sans', sans-serif !important;
}

html,
body {
  width: 100%;
  height: 100%;
  @include bg;
  color: $color-text;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif !important;
}

button {
  background: transparent;
  margin: 0;
  border: none;
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;

  li {
    margin: 0;
  }
}

a {
  text-decoration: none !important;
}
