.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.fw {
  &-light {
    font-weight: 300;
    @extend .subpixel-antialiased;
  }

  &-normal {
    font-weight: 400;
    @extend .subpixel-antialiased;
  }

  &-medium {
    font-weight: 500;
    @extend .subpixel-antialiased;
  }

  &-semi-bold {
    font-weight: 600;
    @extend .subpixel-antialiased;
  }

  &-bold {
    font-weight: 700;
    @extend .subpixel-antialiased;
  }

  &-bolder {
    font-weight: 800;
    @extend .subpixel-antialiased;
  }
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.h {
  &-full {
    height: 100%;
  }

  &-auto {
    height: auto;
  }

  &-screen {
    height: 100vh;
    overflow-y: hidden;
  }
}

.w {
  &-full {
    width: 100%;
  }

  &-screen {
    width: 100vw;
    overflow-x: hidden;
  }

  @media only screen and (min-width: 576px) {
    .w-sm-full {
      width: 100%;
    }
  }

  @media only screen and (min-width: 768px) {
    .w-md-full {
      width: 100%;
    }

    .w-md-auto {
      width: auto;
    }
  }
}

.min {
  &-h-full {
    min-height: 100%;
  }

  &-w-full {
    min-width: 100%;
  }
}

.max {
  &-h-full {
    max-height: 100%;
  }

  &-w-full {
    max-width: 100%;
  }
}

.google {
  &-red {
    color: $google-red !important;
  }

  &-blue {
    color: $google-blue !important;
  }

  &-green {
    color: $google-green !important;
  }

  &-yellow {
    color: $google-yellow !important;
  }

  &-spacing {
    letter-spacing: 0pt;
  }
}

$size: 100;
@for $n from 0 through $size {
  .ft-#{$n} {
    font-size: toRem($n) !important;
  }

  .lh-#{$n} {
    line-height: toRem($n) !important;
  }

  .ps {
    &-#{$n} {
      padding: toRem($n) !important;
    }

    &t-#{$n} {
      padding-top: toRem($n) !important;
    }

    &r-#{$n} {
      padding-right: toRem($n) !important;
    }

    &l-#{$n} {
      padding-left: toRem($n) !important;
    }

    &b-#{$n} {
      padding-bottom: toRem($n) !important;
    }

    &x-#{$n} {
      padding-left: toRem($n) !important;
      padding-right: toRem($n) !important;
    }

    &y-#{$n} {
      padding-top: toRem($n) !important;
      padding-bottom: toRem($n) !important;
    }
  }

  .ms {
    &-#{$n} {
      margin: toRem($n) !important;
    }

    &t-#{$n} {
      margin-top: toRem($n) !important;
    }

    &r-#{$n} {
      margin-right: toRem($n) !important;
    }

    &l-#{$n} {
      margin-left: toRem($n) !important;
    }

    &b-#{$n} {
      margin-bottom: toRem($n) !important;
    }

    &x-#{$n} {
      margin-left: toRem($n) !important;
      margin-right: toRem($n) !important;
    }

    &y-#{$n} {
      margin-top: toRem($n) !important;
      margin-bottom: toRem($n) !important;
    }
  }

  .gap {
    &-#{$n} {
      gap: toRem($n) !important;
    }

    &-x-#{$n} {
      column-gap: toRem($n) !important;
    }

    &-y-#{$n} {
      row-gap: toRem($n) !important;
    }
  }
}
