@mixin boxShadow($size, $color) {
  @if ($size == sm) {
    box-shadow: 0 toRem(1) toRem(2) toRem(0) rgba($color: $color, $alpha: 0.1),
      0 1px 2px 0px rgba($color: $color, $alpha: 0.1);
  }

  @if ($size == md) {
    box-shadow: 0 toRem(4) toRem(6) toRem(-1) rgba($color: $color, $alpha: 0.1),
      0 2px 4px -2px rgba($color: $color, $alpha: 0.1);
  }

  @if ($size == default) {
    box-shadow: 0 toRem(1) toRem(3) toRem(0) rgba($color: $color, $alpha: 0.1),
      0 1px 2px -1px rgba($color: $color, $alpha: 0.1);
  }

  @if ($size == lg) {
    box-shadow: 0
        toRem(10)
        toRem(15)
        toRem(-3)
        rgba($color: $color, $alpha: 0.1),
      0 4px 6px -4px rgba($color: $color, $alpha: 0.1);
  }

  @if ($size == xl) {
    box-shadow: 0
        toRem(20)
        toRem(25)
        toRem(-5)
        rgba($color: $color, $alpha: 0.1),
      0 8px 10px -6px rgba($color: $color, $alpha: 0.1);
  }
}

@mixin btnColor($bgColor, $textColor, $amount) {
  background-color: $bgColor;
  color: $textColor;

  &:hover {
    color: $textColor;
    background-color: darken($color: $bgColor, $amount: $amount);
  }

  &:focus {
    color: $textColor;
    background-color: darken($color: $bgColor, $amount: $amount);
  }
}
